<div class="login-component container">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" id="loginForm">
    <h2>Faça login para continuar.</h2>
    <entry
      type="text"
      label="Email: "
      placeholder="johndoe@example.com"
      [control]="loginForm.controls['email']"
    >
      <lucide-icon name="mail"></lucide-icon>
    </entry>
    <entry
      [type]="passwordType()"
      label="Senha: "
      placeholder="12345678"
      [control]="loginForm.controls['password']"
    >
      <lucide-icon
        name="eye"
        (click)="changePasswordType()"
        style="cursor: pointer"
      ></lucide-icon>
    </entry>
    <custom-button text="Fazer login" type="submit"></custom-button>
  </form>
</div>
